fieldset{
    color: white;
    background-color: black;
    display: inline;
    width: 100px;
    height: 100px;
}

legend{
    color: aqua;
    background-color: bisque;
}


button{
    background-color: gold;
    color: blanchedalmond;
}
